{{template "base" .}}

{{define "content"}}

<section class="pb-4 py-3">
  <div class="container">
    {{$res := index .Data "user"}}
    {{$AllProducts := index .Data "AllProducts"}}
    {{$form := index .Form}}
    {{$csrf := index .CSRFToken}}
    <div class="row">
      <!-- Customer Sidebar-->
          <div class="col-lg-3 col-xl-3 mb-3">
            <div class="customer-sidebar card border-0"> 
              <div class="customer-profile"><a class="d-inline-block" href="#">
                <img class="img-fluid rounded-circle customer-image" src={{$res.Image_URL}} style = "border-radius:50% 50% 50% 50%;" alt=""></a>
                <h5>{{$res.Username}}</h5>
              </div>
              <nav class="list-group customer-nav">
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/admin/overview">
                  <span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Overview</span>
                </a>
                <a class="active list-group-item d-flex justify-content-between align-items-center" href="/admin/products"><span>   
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Products</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/admin/rents"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Rentals</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/logout"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Log out</span>
                </a>
              </nav>
            </div>
          </div>
      <!-- /Customer Sidebar-->
      <div class="col-lg-9 col-xl-9 mb-5 mb-lg-0">
            <h5 class="mb-5">GoRent Products</h5>
            <table class="table border-bottom border-dark mb-5">
                <thead>
                                        <tr>
                        <th style="width: 100px;">ProdID                             <div class="btn-group-vertical">
                            {{/* <div style=" display: flex;flex-direction: column;"> */}}
                                <a href="?sortby=prodID&sort=asc">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="?sortby=prodID&sort=desc">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div></th>
                        <th style="width: 110px;">OwnerID                             <div class="btn-group-vertical">
                            {{/* <div style=" display: flex;flex-direction: column;"> */}}
                                <a href="?sortby=ownerID&sort=asc">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="?sortby=ownerID&sort=desc">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div></th>
                        <th>Brand                             <div class="btn-group-vertical">
                            {{/* <div style=" display: flex;flex-direction: column;"> */}}
                                <a href="?sortby=brand&sort=asc">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="?sortby=brand&sort=desc">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div></th>
                        <th>Title                             <div class="btn-group-vertical">
                            {{/* <div style=" display: flex;flex-direction: column;"> */}}
                                <a href="?sortby=title&sort=asc">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="?sortby=title&sort=desc">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div></th>
                        <th style="width: 110px;">Rate                          <div class="btn-group-vertical">
                            {{/* <div style=" display: flex;flex-direction: column;"> */}}
                                <a href="?sortby=rating&sort=asc">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="?sortby=rating&sort=desc">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div></th>
                        <th style="width: 100px;">Price                             <div class="btn-group-vertical">
                            {{/* <div style=" display: flex;flex-direction: column;"> */}}
                                <a href="?sortby=price&sort=asc">
                                    <i class="fas fa-sort-up"></i>
                                </a>
                                <a href="?sortby=price&sort=desc">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div></th>
                        <th>Last Updated </th>
                    </tr>
                </thead>
                <tbody>
                    {{range $p := $AllProducts}}
                    <tr>
                        <th class="py-4 text-muted font-weight-normal">{{$p.ID}}</th>   
                        <th class="py-4 text-muted font-weight-normal">{{$p.OwnerID}}</th>   

                        <th class="py-4 text-muted font-weight-normal">{{$p.Brand}}</th>
                        <td class="py-4 text-center text-muted font-weight-normal">{{$p.Title}}</td>
                        <td class="py-4 text-center text-muted font-weight-normal">{{$p.Rating}}</td>
                        <td class="py-4 text-center text-muted font-weight-normal">{{$p.Price}}</td>
                        <td class="py-4 text-center text-muted font-weight-normal">{{shortDate $p.UpdatedAt}}</td>

                    </tr>
                    {{end}}
                </tbody>
            </table>
      </div>
    </div>
  </div>
</section>
{{end}}
