{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4@3.1.4/bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notie@4.3.1/dist/notie.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style>
      .swiper-container {
        width: 80%;
        height: auto;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      @media (max-width: 760px) {
        .swiper-button-next {
          right: 20px;
          transform: rotate(90deg);
        }

        .swiper-button-prev {
          left: 20px;
          transform: rotate(90deg);
        }
      }
    </style>
    <title>GoRent</title>
</head>

<body>
            
    {{block "header" .}}

    {{end}}

    {{block "content" .}}

    {{end}}

</body>

<footer>

    {{block "footer" .}}

    {{end}}
    
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap.native@3.0.0/dist/bootstrap-native.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/notie@4.3.1/dist/notie.min.js"></script>
<script src="https://unpkg.com/notie"></script>
{{block "script" .}}

{{end}}
<script>

    let attention = Prompt();
    {{with .Flash}}
        successAlert("{{.}}")
    {{end}}
    {{with .Warning}}
        warningAlert("{{.}}")
        // attention.toast({
        //             msg: "{{.}}",
        //             // icon: "info",
        //         }) 
    {{end}}
    {{with .Error}} 
        errorAlert("{{.}}")
    {{end}}

    // notifications
function successAlert(x) {
    notie.alert({
        type: 'success',
        text: x,
    })
}

function errorAlert(x) {
    notie.alert({
        type: 'error',
        text: x,
    })
}

function warningAlert(x) {
    console.log(x)
    notie.alert({
        type: 'warning',
        text: x,
    })
}

// attention
function Prompt() {
    function toast(c) {
        const {
            msg = "",
            icon = "success",
            timer = 3000,
            showCloseButton = false,
        } = c;
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            onOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: icon,
            title: msg,
            timer: timer,
            showCloseButton: showCloseButton,
        })
    }

    function alert(c) {
        const {
            cancelButton = false,
            html = "Some warning",
            icon = "success",
            confirmButtonText = "OK",
            confirmButton = true,
            title = '',
        } = c;
        const {value: result} = Swal.fire({
            html: html,
            confirmButtonText: confirmButtonText,
            icon: icon,
            showCancelButton: cancelButton,
            showConfirmButton: confirmButton,
            title: title,
        }).then((result) => {
            if (result) {
                if (result.dismiss === Swal.DismissReason.cancel) {
                } else {

                }
            }
        })
    }

    function confirm(c) {
        const {
            cancelButton = true,
            html = "Are you sure?",
            icon = "warning",
            confirmButtonText = "OK",
        } = c;
        const {value: result} = Swal.fire({
            html: html,
            confirmButtonText: confirmButtonText,
            icon: icon,
            showCancelButton: cancelButton,
            backdrop: false,
            showCloseButton: false,
        }).then((result) => {
            if (result) {
                if (result.dismiss !== Swal.DismissReason.cancel) {
                    if (c.callback !== undefined) {
                        c.callback(true)
                    }
                } else {
                    c.callback(false)
                }
            } else {
                c.callback(false)
            }
        })
    }

    function promptConfirm(c) {
        const {
            cancelButton = true,
            html = "Are you sure?",
            icon = "warning",
            confirmButtonText = "OK",
            confirmationText = "Yes",
        } = c;

        const {value: result} = Swal.fire({
            html: html,
            confirmButtonText: confirmButtonText,
            icon: icon,
            input: 'text',
            showCancelButton: cancelButton,
            backdrop: false,
            showCloseButton: false,
        }).then((result) => {
            if (result) {
                if (result.dismiss !== Swal.DismissReason.cancel) {
                    if (result.value.toUpperCase() === confirmationText.toUpperCase()) {
                        if (c.callback !== undefined) {
                            c.callback(true);
                        }
                    } else {
                        c.callback(false);
                    }
                } else {
                    c.callback(false);
                }
            }
        })
    }

    function prompt(c) {
        const {
            cancelButton = true,
            html = "Enter a value",
            icon = "question",
            buttonName = "OK",
            input = 'text',
            inputValue = '',
        } = c;

        const {value: result} = Swal.fire({
            html: html,
            confirmButtonText: buttonName,
            icon: icon,
            input: input,
            inputValue: inputValue,
            showCancelButton: cancelButton,
        }).then((result) => {
            if (result) {
                if (result.dismiss !== Swal.DismissReason.cancel) {
                    if (result.value !== "") {
                        if (c.callback !== undefined) {
                            c.callback(result);
                        }
                    } else {
                        c.callback(false);
                    }
                } else {
                    c.callback(false);
                }
            }
        })
    }

    return {
        confirm: confirm,
        alert: alert,
        promptConfirm: promptConfirm,
        prompt: prompt,
        toast: toast,
    };
}


//script for searchresult product slider
var snapSlider = document.getElementById('slider-snap');
var snapValues = [
	document.getElementById('slider-snap-value-lower'),
	document.getElementById('slider-snap-value-upper')
];
var range = {
  'min': 0,
  '10%': 50,
  '10.1%': 51,
  '10.2%': 52,
  '10.25%': 52.5,
  '20%': 100,
  '30%': 150,
  '35%': 160,
  '40%': 500,
  '42.3%': 666,
  '50%': 800,
  'max': 1000
};



noUiSlider.create(snapSlider, {
	start: [ 0, 500 ],
	snap: true,
	connect: true,
  tooltips: true,
	range: range
});

snapSlider.noUiSlider.on('update', function( values, handle ) {
	snapValues[handle].innerHTML = values[handle];
});

$('#range').text(JSON.stringify(range, null, '\t'));


</script>


</html>


{{end}}