{{template "base" .}}

{{define "content"}}
{{$u := index .User}}
{{$csrf := index .CSRFToken}}


<section class="hero py-2">
    <div class="container">
        <ol class="breadcrumb pl-0 ">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Cart </li>
        </ol>
        <!-- Hero Content-->
        {{with unprocessedRents $u.Rents}}
        <!-- Breadcrumbs -->
        <div class="hero-content">
            <h1 class="hero-heading">Cart</h1>
            <div>
                <p class="lead text-muted">You have {{ len (unprocessedRents $u.Rents) }} items in your cart.</p>
            </div>
        </div>

        {{else}}

        <div class="hero-content">
            <div class="row">
            <div class="col"></div>

            <div class="col mt-5">
                <div class="">
                    <i class="fas fa-ghost fa-3x d-flex justify-content-center"></i>
                    <p class="lead text-muted d-flex justify-content-center mt-3">Cart is empty</p>
                    <a class="btn btn-outline-dark d-flex justify-content-center btn-lg mt-3" href="/">
                        Go Rent!</a>
                </div>
            </div>
            <div class="col"></div>
            </div>
        </div>

        {{end}}

    </div>
</section>
<section>
    <div class="container">
        <div class="row mb-5">
            {{with (unprocessedRents $u.Rents)}}
            <div class="col-lg-8 pr-xl-5">
                <div class="cart mb-5">
                    <div class="cart-body">
                        <!-- Product-->
                        {{range (unprocessedRents $u.Rents)}}
                        {{$p := .Product}}
                        <div class="cart-item">
                            <div class="row d-flex align-items-center text-left text-md-center">
                                <div class="col-12 col-md-5"><a class="cart-remove close mt-3 d-md-none" href="#"><i
                                            class="fa fa-times"> </i></a>
                                    <div class="d-flex align-items-center"></a>#{{.ID}}     <a
                                            href="/v1/products/{{.Product.ID}}">
                                            {{with .Product.Images}}
                                            <img class="cart-item-img" src="{{index $p.Images 0}}"
                                            alt="..."></a>
                                            {{else}}
                                            <img class="cart-item-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/768px-No_image_available.svg.png"
                                            alt="..."></a>
                                            {{end}}
                                        <div class="cart-title text-left"><a class="text-dark link-animated"
                                                href="/v1/products/{{.ProductID}}"><strong>{{.Product.Title}}</strong></a>
                                            <br><span class="text-muted text-sm">Price: ${{.Product.Price}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 mt-4 mt-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-6 d-md-none text-muted">Start Date</div>
                                                <div class="col-6 col-md-12 text-right text-md-center">
                                                    <span><strong>Start: </strong></span>
                                                    {{shortDate .StartDate}}
                                                </div>
                                                <div class="col-6 col-md-12 text-right text-md-center">
                                                    <span><strong>End: </strong></span>
                                                    {{shortDate .EndDate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-6 d-md-none text-muted">Total price </div>
                                                <div class="col-6 col-md-12 text-right text-md-center">${{format2DP .TotalCost}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 d-none d-md-block text-center">
                                            <form action="/v1/products/removeRent" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{$csrf}}">
                                                <input type="hidden" name="rent_id" value="{{.ID}}">

                                                <button class="btn" action="submit">
                                                    <i class="far fa-times-circle fa-2x"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-column flex-lg-row mb-5 mb-lg-0">
                    <a class="btn btn-outline-dark btn-block" href="/v1/user/cart/checkout" >
                        Checkout </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5">
                    <div class="card-header">
                        <h6 class="mb-0">Order Summary</h6>
                    </div>
                    <div class="card-body py-4">
                        <p class="text-muted text-sm">Shipping and additional costs are calculated based on values you
                            have entered.</p>
                        <table class="table card-text">
                            <tbody>
                                <tr>
                                    <th class="py-4">Order Subtotal </th>
                                    <td class="py-4 text-right text-muted">
                                        ${{format2DP (totalCostInCart (unprocessedRents $u.Rents))}}</td>
                                </tr>
                                <tr>
                                    <th class="py-4">Self-delivery</th>
                                    <td class="py-4 text-right text-muted"> - </td>
                                </tr>
                                <tr>
                                    <th class="pt-4">Total</th>
                                    <td class="pt-4 text-right h3 font-weight-normal">
                                        ${{format2DP (add (totalCostInCart (unprocessedRents $u.Rents)))}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>

{{end}}