{{template "base" .}}

{{define "content"}}
{{$u := index .User}}
{{$csrf := index .CSRFToken}}


<section class="hero py-2">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0 ">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/v1/user/cart">Cart</a></li>
            <li class="breadcrumb-item active">Checkout </li>
        </ol>
        {{with unprocessedRents $u.Rents}}

        <!-- Hero Content-->
        <div class="hero-content">
            <h1 class="hero-heading">Checkout</h1>
        </div>
        {{else}}
        <div class="hero-content pb-6">
            <div class="row">
                <div class="col"></div>

                <div class="col mt-5">
                    <div class="">
                        <i class="fas fa-ghost fa-3x d-flex justify-content-center"></i>
                        <p class="lead text-muted d-flex justify-content-center mt-3">Nothing to checkout</p>
                        <a class="btn btn-outline-dark d-flex justify-content-center btn-lg mt-3" href="/">
                            Go Rent!</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        {{end}}
    </div>
</section>
{{with unprocessedRents $u.Rents}}
<input type="hidden" name="csrf_token" value="{{$csrf}}">
<div class="container pb-6">
    <div class="row">
        <div class="col-lg-7 pr-xl-6">
            <h5 class="mb-5">Invoice address </h5>
            <div class="row">
                <div class="form-group col-md-6 mb-4">
                    <label class="form-label" for="fullname_invoice">Username</label>
                    <input class="form-control form-control-underlined pl-0" disabled type="text"
                        name="fullname_invoice" id="fullname_invoice" value="{{$u.Username}}">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label class="form-label" for="emailaddress_invoice">Email Address</label>
                    <input class="form-control form-control-underlined pl-0" disabled type="text"
                        name="emailaddress_invoice" id="emailaddress_invoice" value="{{$u.Email}}">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label class="form-label" for="street_invoice">Block</label>
                    <input class="form-control form-control-underlined pl-0" disabled type="text" name="street_invoice"
                        id="street_invoice" value="{{$u.Address.Block}}">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label class="form-label" for="city_invoice">Street Name</label>
                    <input class="form-control form-control-underlined pl-0" disabled type="text" name="city_invoice"
                        id="city_invoice" value="{{$u.Address.StreetName}}">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label class="form-label" for="zip_invoice">Unit Number</label>
                    <input class="form-control form-control-underlined pl-0" type="text" name="zip_invoice"
                        id="zip_invoice" value="{{$u.Address.UnitNumber}}">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label class="form-label" for="state_invoice">Postal Code</label>
                    <input class="form-control form-control-underlined pl-0" type="text" name="state_invoice"
                        id="state_invoice" disabled value="{{$u.Address.PostalCode}}">
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <h5 class="mb-5">Order Summary</h5>
            <table class="table border-bottom border-dark mb-5">
                <tbody>
                    {{range $index := (unprocessedRents $u.Rents)}}
                    <tr>
                        <th class="py-4 text-muted font-weight-normal">{{.Product.Title}}</th>
                        <td class="py-4 text-right text-muted font-weight-normal">${{format2DP .TotalCost}}</td>
                    </tr>
                    {{end}}
                    <tr>
                        <th class="py-4 font-weight-normal text-muted">Self-Pickup</th>
                        <td class="py-4 text-right font-weight-normal text-muted">$0.00</td>
                    </tr>
                    <tr>
                        <th class="py-4 text-uppercase font-weight-normal border-dark align-bottom">Total</th>
                        <td class="py-4 text-right h3 font-weight-normal border-dark">
                            ${{format2DP (totalCostInCart (unprocessedRents $u.Rents))}}</td>
                    </tr>
                    <form method="POST" action="/v1/user/cart/checkout/confirm">
                        <input type="hidden" name="csrf_token" value="{{$csrf}}">
                        <!-- <tr>
                            <th class="pt-5 pb-4 border-dark" colspan="2">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="payment0" type="radio" name="payment"
                                        checked="">
                                    <label class="custom-control-label text-sm font-weight-normal collapsed"
                                        for="payment0" data-toggle="collapse" data-target="#paymentinfo_0"
                                        aria-expanded="false">Pay in
                                        person
                                    </label>
                                </div>
                            </th>
                        </tr> -->
                </tbody>
            </table>
            <p class="text-muted text-sm">Your personal data will be used to process your order, support your
                experience
                throughout this website, and for other purposes described in our <a href="#">privacy policy</a>.</p>
            <p class="text-muted text-sm mb-5">I have read and agree to the website <a href="#">terms and
                    conditions</a>. * </p>
            <button class="btn btn-outline-dark btn-block mb-5">Place order</button>
            </form>
            <!-- this should be <button type="submit"> on your site-->
        </div>
    </div>
</div>
</form>
{{end}}

{{end}}