{{template "base" .}}

{{define "content"}}


<div class="container-fluid container-fluid-px py-6">
    <div class="hero-content mb-6">
        <div class="container pt-2 pl-5 pr-6 mb-3">
            <div class="container">
                <h3>What would you like to rent today?</h3>
                <form method="GET" action="/searchresult">
                    <div class="form-group pt-1">
                        <label for="exampleFormControlInput1"></label>
                        <input type="text" class="form-control" name="q" placeholder="hockey sticks .."></input>
                    </div>
                    <!-- {{/* <input type="submit"> */}} -->
                    <button class="btn btn-dark text-justify mt-2">Search</button>
                    <div class="container pb-3"></div>
                </form>
            </div>
        </div>
    </div>
</div>


{{end}}