{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row mt-5">
        <div class="mb-3">

            <div class="col-5">
                <p>First time here? <a href="/register">Create an account</a></p>
                <hr class="mb-3" style="color:gray">
                <h2>Sign in</h2>
                {{$res := index .Data "login"}}
                {{$form := index .Form}}
                {{with .Form.Errors.Get "login"}}
                <label class="text-danger">{{.}}</label>
                {{end}}
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken }}">
                    <div class="form-group mb-3 ">
                            <label class="form-label"for="username">Username</label> 
                            {{with $form.Errors.Get "username"}}
                            <span for="username"  class="text-danger float-right">{{.}}</span>
                            {{end}}
                            <input type="username" class="form-control  {{with .Form.Errors.Get "login"}} is-invalid{{end}}" name="username" placeholder="Username" value="{{$res.Username}}">
                    </div>
                    <div class="form-group mb-3 ">
                            <label class="form-label"for="password">Password</label> 
                            {{with $form.Errors.Get "password"}}
                            <span for="password"  class="text-danger float-right">{{.}}</span>
                            {{end}}
                            <input type="password" class="form-control  {{with .Form.Errors.Get "login"}} is-invalid{{end}}" name="password" placeholder="password" value="{{$res.Password}}">
                    </div>
                    <button type="submit" class="btn btn-outline-dark btn-lg">Sign in</button>
                </form>

            </div>
        </div>

    </div>
</div>

{{end}}
