{{template "base" .}}

{{define "content"}}

<section class="pb-4 py-3">
      <div class="container">
            
        {{$res := index .Data "user"}}
        <div class="row">
                  <!-- Customer Sidebar-->
          <div class="col-lg-3 col-xl-3 mb-3">
            <div class="customer-sidebar card border-0"> 
              <div class="customer-profile"><a class="d-inline-block" href="#"><img class="img-fluid rounded-circle customer-image" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/avatar/avatar-0.jpg" alt=""></a>
                <h5>{{$res.Username}}</h5>
                <p class="text-muted text-sm mb-0">Los Angeles, CA</p>
              </div>
              <nav class="list-group customer-nav">
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account">
                  <span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Account</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account/profile"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Edit Profile</span>
                </a>
                <a class="active list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account/payment"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#real-estate-1"> </use>
                    </svg>Payment</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/products"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Products</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/rents"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Rentals</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/cart"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Bookings</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/user/logout"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Log out</span>
                </a>
              </nav>
            </div>
          </div>
          <!-- /Customer Sidebar-->
          <div class="col-lg-9 col-xl-9 mb-5 mb-lg-0">
            <h3 class="mb-5">Payment</h3>
            <div class="mb-5">
              <div id="accordion" role="tablist">
                <div class="card border-0 shadow mb-3">
                  <div class="card-header accordion-header" id="headingOne" role="tab"><a class="accordion-link collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Option one</a></div>
                  <div class="collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                    <div class="card-body py-5">
                      <form action="#">
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label class="form-label" for="card-name">Name on Card</label>
                            <input class="form-control" type="text" name="card-name" placeholder="Name on card" id="card-name">
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-label" for="card-number">Card Number</label>
                            <input class="form-control" type="text" name="card-number" placeholder="Card number" id="card-number">
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-label" for="expiry-date">Expiry Date</label>
                            <input class="form-control" type="text" name="expiry-date" placeholder="MM/YY" id="expiry-date">
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-label" for="cvv">CVC/CVV</label>
                            <input class="form-control" type="text" name="cvv" placeholder="123" id="cvv">
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-label" for="zip">ZIP</label>
                            <input class="form-control" type="text" name="zip" placeholder="123" id="zip">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card border-0 shadow mb-3">
                  <div class="card-header accordion-header" id="headingTwo" role="tab"><a class="accordion-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Paypal</a></div>
                  <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                    <div class="card-body py-5">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="payment-method-1" type="radio" name="payment">
                        <label class="custom-control-label" for="payment-method-1"> <span class="d-block h6 mt-1 mb-3"> Pay with PayPal</span><span class="text-muted text-sm">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections                    </span></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-0 shadow mb-3">
                  <div class="card-header accordion-header" id="headingThree" role="tab"><a class="accordion-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Pay on delivery</a></div>
                  <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                    <div class="card-body py-5">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="payment-method-2" type="radio" name="payment">
                        <label class="custom-control-label" for="payment-method-2"> <span class="d-block h6 mt-1 mb-3"> Pay on delivery</span><span class="text-muted text-sm">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream.         </span></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{{end}}