{{template "base" .}}
<div class="container">

    <div class="row mt-5">
        <div class="mb-3">

            <div class="col-5">
                <p>Already have an account? <a href="/login"> Sign in</a></p>
                <hr class="mb-3" style="color:gray">
                <h2>Create a new account</h2>

                {{$res := index .Data "register"}}
                <form method="POST" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Username</label>
                            <input type="username" class="form-control" name="inputUsername" placeholder="Username">
                        </div>
                         <div class="form-group col-md-6">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" name="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" name="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group row">
                        <div class="form-group">
                            <label for="inputAddress2">Block</label>
                            <input type="text" class="form-control" name="addressblock" placeholder="Block Number">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Street Name</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Unit Number</label>
                            <input type="text" class="form-control" id="addressunit" placeholder="eg #04-23">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Postal Code</label>
                        <input type="text" class="form-control" id="postalcode" placeholder="eg 519231">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-lg">Create account</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>