{{template "base" .}}

{{define "content"}}

<div class="container-fluid container-fluid-px py-6">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Search </li>
    </ol>

    <div class="row">
        <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
            <div class="product-grid-header">
                <div class="mr-3 mb-3">Your results</div>
                <!-- <div class="mr-3 mb-3"><span class="mr-2">Show</span><a class="product-grid-header-show active"
                        href="#">12 </a><a class="product-grid-header-show " href="#">24 </a><a
                        class="product-grid-header-show " href="#">All </a>
                </div>
                <div class="mr-3 mb-3">
                    <button class="btn btn-link text-dark pl-0 dropdown-toggle text-decoration-none"
                        data-toggle="collapse" data-target="#productFilter" aria-expanded="false"
                        aria-controls="productFilter">Filter</button>
                </div> -->
            </div>

            <div class="row">
                <div class="card-deck">
                    {{range $res := index .Data "product"}}
                    <a class="" href="/v1/products/{{$res.ID}}">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-img-top product-swap-image">
                                    <img class="card-img img-fluid product-swap-image-front" src="{{index $res.Images 0}}"
                                        alt="product">
                                    {{if gt (len $res.Images) 1}}
                                    <img class="card-img img-fluid" src="{{index $res.Images 1}}" alt="product">
                                    {{end}}
                                </div>
                                <div class="card-body">
                                    <div class="position-relative">
                                        <h3 class="text-base mb-1"><a class="text-dark"
                                                href="/v1/products/{{$res.ID}}">{{$res.Title}}</a></h3>
                                        <span class="text-muted">${{$res.Price}}</span>
                                        <span class="text-xs float-right">
                                            {{range $index := iterate (floatToInt $res.Rating)}}
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-danger"></i>
                                            </li>
                                            {{end}}
                                            {{range $index := iterate (substract 5 (floatToInt $res.Rating))}}
                                            <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i>
                                            </li>
                                            {{end}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>

            <!-- <nav class="d-flex justify-content-center mb-5 mt-3" aria-label="page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-arrow" href="#" aria-label="Previous"><span aria-hidden="true">
                                <svg class="svg-icon page-icon">
                                    <use xlink:href="#angle-left-1"> </use>
                                </svg></span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1 </a></li>
                    <li class="page-item"><a class="page-link" href="#">2 </a></li>
                    <li class="page-item"><a class="page-link" href="#">3 </a></li>
                    <li class="page-item"><a class="page-link" href="#">4 </a></li>
                    <li class="page-item"><a class="page-link" href="#">5 </a></li>
                    <li class="page-item"><a class="page-arrow" href="#" aria-label="Next"><span aria-hidden="true">
                                <svg class="svg-icon page-icon">
                                    <use xlink:href="#angle-right-1"> </use>
                                </svg></span><span class="sr-only">Next </span></a></li>
                </ul>
            </nav> -->

        </div>

        <div class="sidebar col-xl-3 col-lg-4 pr-xl-5 order-lg-1">
            <div class="sidebar-block px-3 px-lg-0">
                <div class="expand-lg collapse" id="categoriesMenu" role="menu">
                    <h5 class="sidebar-heading d-none d-lg-block">Filter </h5>
                    <div class="sidebar-icon-menu mt-4 mt-lg-0">

                        <div class="sidebar-icon-menu-item active" data-target="#subcategories_0" aria-expanded=""
                            aria-controls="subcategories_0" role="menuitem">
                            <div class="d-flex align-items-center">
                                <svg class="svg-icon sidebar-icon">
                                    <use xlink:href="#trousers-1"> </use>
                                </svg><a class="sidebar-icon-menu-link font-weight-bold mr-2" href="#">Price</a><span
                                    class="sidebar-icon-menu-count"></span>
                            </div>
                            <div id="subcategories_0">
                                <form method="GET" action="/searchresult">
                                    <ul class="sidebar-icon-menu sidebar-icon-submenu">
                                        <li class="sidebar-icon-submenu-item">
                                            <input type="number" min="0" step="any" class="form-control" name="minprice"
                                                placeholder="$ From">
                                        </li>
                                        <li class="sidebar-icon-submenu-item"><input type="number" min="1" step="any"
                                                class="form-control" name="maxprice" placeholder="$ To">
                                            <input type="hidden" name="q" value={{index .Data "query"}}></li>
                                        <li class="sidebar-icon-submenu-item">
                                            <button class="btn btn-outline-dark">
                                                Update</button></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-icon-menu-item" data-toggle="collapse" data-target="#subcategories_1"
                            aria-controls="subcategories_1" role="menuitem">
                            <div class="d-flex align-items-center">
                                <svg class="svg-icon sidebar-icon">
                                    <use xlink:href="#suit-1"> </use>
                                </svg><a class="sidebar-icon-menu-link font-weight-bold mr-2" href="#">Jackets</a><span
                                    class="sidebar-icon-menu-count"> 55</span>
                            </div>
                            <div class="collapse" id="subcategories_1">
                                <ul class="sidebar-icon-menu sidebar-icon-submenu">
                                    <li class="sidebar-icon-submenu-item"><a
                                            class="sidebar-icon-submenu-link link-animated link-animated-light"
                                            href="#">Lorem ipsum </a></li>
                                    <li class="sidebar-icon-submenu-item"><a
                                            class="sidebar-icon-submenu-link link-animated link-animated-light"
                                            href="#">Dolor </a></li>
                                    <li class="sidebar-icon-submenu-item"><a
                                            class="sidebar-icon-submenu-link link-animated link-animated-light"
                                            href="#">Sit amet </a></li>
                                    <li class="sidebar-icon-submenu-item"><a
                                            class="sidebar-icon-submenu-link link-animated link-animated-light"
                                            href="#">Donec vitae </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}

{{define "script"}}
<script>
    var snapSlider = document.getElementById('slider-snap');
    var snapValues = [
        document.getElementById('slider-snap-value-lower'),
        document.getElementById('slider-snap-value-upper')
    ];
    var range = {
        'min': 0,
        '10%': 50,
        '10.1%': 51,
        '10.2%': 52,
        '10.25%': 52.5,
        '20%': 100,
        '30%': 150,
        '35%': 160,
        '40%': 500,
        '42.3%': 666,
        '50%': 800,
        'max': 1000
    };


    noUiSlider.create(snapSlider, {
        start: [0, 500],
        snap: true,
        connect: true,
        tooltips: true,
        range: range
    });

    snapSlider.noUiSlider.on('update', function (values, handle) {
        snapValues[handle].innerHTML = values[handle];
    });

    $('#range').text(JSON.stringify(range, null, '\t'));
</script>
{{end}}