{{template "base" .}}

{{define "content"}}

<section class="pb-4 py-3">
      <div class="container">
      {{$products := index .Data "products"}}
      {{$res := index .Data "user"}}
      {{$form := index .Form}}
        <div class="row">
                  <!-- Customer Sidebar-->
          <div class="col-lg-3 col-xl-3 mb-3">
            <div class="customer-sidebar card border-0"> 
              <div class="customer-profile"><a class="d-inline-block" href="#"><img class="img-fluid rounded-circle customer-image" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/avatar/avatar-0.jpg" alt=""></a>
                <h5>{{$res.Username}}</h5>
                <p class="text-muted text-sm mb-0">Los Angeles, CA</p>
              </div>
              <nav class="list-group customer-nav">
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account">
                  <span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Overview</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account/profile"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Edit Profile</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account/payment"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#real-estate-1"> </use>
                    </svg>Payment</span></a>
                <a class="active list-group-item d-flex justify-content-between align-items-center" href="/v1/user/products"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Products</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/rents"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Rentals</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/bookings"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Bookings</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/user/logout"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Log out</span>
                </a>
              </nav>
            </div>
          </div>
          <!-- /Customer Sidebar-->
          <div class="col-lg-9 col-xl-9 mb-5 mb-lg-0">
          <div class = "mb-3" > 
            <a class="btn btn-outline-dark btn-block" href="/v1/user/addproduct" role="button">Add Product</a>
          </div>
          <div class="cart">
              <div class="cart-wrapper">
                <div class="cart-header">
                  <div class="row">
                    <div class="col-4">Product</div>
                    <div class="col-2 text-center">Price</div>
                    <div class="col-4 text-center">Review</div>
                    <div class="col-1 text-center">Edit</div>
                    <div class="col-1 text-center">Delete</div>
                  </div>
                </div>
                <div class="cart-body">
                {{range $p := $products}}
                  <!-- Product-->
                  <div class="cart-item">
                    <div class="row d-flex align-items-center text-center">
                      <div class="col-4">
                        <div class="d-flex align-items-center"><a href="/v1/products/{{$p.ID}}"><img class="cart-item-img" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/product-square-ian-dooley-347968-unsplash.jpg" alt="..."></a>
                          <div class="cart-title text-left"><a class="text-dark" href="/v1/products/{{$p.ID}}"><strong>{{$p.Title}}</strong></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">{{$p.Price}}</div>
                      <div class="col-4">
                        <div class="d-flex align-items-center text-sm">
                            <ul class="list-inline mr-2 mb-0">
                                {{range $index := iterate (floatToInt $p.Rating)}}
                                <li class="list-inline-item mr-0"><i class="fa fa-star text-danger"></i></li>
                                {{end}}
                                {{range $index := iterate (substract 5 (floatToInt $p.Rating))}}
                                <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
                                {{end}}
                            </ul><span class="text-muted text-uppercase">{{len $p.Reviews}} reviews</span>
                        </div>
                      </div>
                      <div class="col-1"><a class="btn" href="/v1/user/editproduct?edit={{$p.ID}}"><i class="fas fa-edit"></i></a></div>
                      <div class="col-1"><a class="btn" href="#"><i class="fas fa-trash"></i></a></div>
                    </div>
                  </div>
                {{end}}
                  <!-- Product-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{{end}}