{{template "base" .}}

{{define "content"}}
{{$csrf := index .CSRFToken}}
<section class="pb-4 py-3">
      <div class="container">
      {{$res := index .Data "user"}}
      {{$form := index .Form}}
        <div class="row">
                  <!-- Customer Sidebar-->
          <div class="col-lg-3 col-xl-3 mb-3">
            <div class="customer-sidebar card border-0"> 
              <div class="customer-profile"><a class="d-inline-block" href="#"><img class="img-fluid rounded-circle customer-image" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/avatar/avatar-0.jpg" alt=""></a>
                <h5>{{$res.Username}}</h5>
                <p class="text-muted text-sm mb-0">Los Angeles, CA</p>
              </div>
              <nav class="list-group customer-nav">
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account">
                  <span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Overview</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account/profile"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Edit Profile</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/account/payment"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#real-estate-1"> </use>
                    </svg>Payment</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/products"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Products</span></a>
                <a class="active list-group-item d-flex justify-content-between align-items-center" href="/v1/user/rents"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Rentals</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/bookings"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                      <use xlink:href="#heart-1"> </use>
                    </svg>Bookings</span></a>
                <a class="list-group-item d-flex justify-content-between align-items-center" href="/v1/user/logout"><span>
                    <svg class="svg-icon svg-icon-heavy mr-2">
                    </svg>Log out</span>
                </a>
              </nav>
            </div>
          </div>
          <!-- /Customer Sidebar-->
          <div class="col-lg-9 col-xl-9 mb-5 mb-lg-0">
          <div class="cart">
              <div class="cart-wrapper">
                <div class="cart-header">
                  <div class="row">
                    <div class="col-4">Rentals</div>
                    <div class="col-2 text-center">Price</div>
                    <div class="col-2 text-center">Start Date</div>
                    <div class="col-2 text-center">End Date</div>
                    <div class="col-2 text-center">Delete</div>
                  </div>
                </div>
                <div class="cart-body">
                {{$rents := $res.Rents}}
                {{range $r := $rents}}
                  <!-- Product-->
                  <div class="cart-item">
                    <div class="row d-flex align-items-center text-center">
                      <div class="col-4">
                        <div class="d-flex align-items-center"><a href="detail.html"><img class="cart-item-img" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/product/product-square-ian-dooley-347968-unsplash.jpg" alt="..."></a>
                          <div class="cart-title text-left"><a class="text-dark" href="detail.html"><strong>{{$r.Product.Title}}</strong></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">{{$r.Product.Price}}</div>
                      <div class="col-2">{{$r.StartDate.Format "2006-01-02"}}</div>
                      <div class="col-2">{{$r.EndDate.Format "2006-01-02"}}</div>
                      <div class="col-2">
                        <form id="removeRent" action="/v1/products/removeRent" method="POST">
                            <input type="hidden" name="rent_id" value="{{$r.ID}}">
                            <input type="hidden" name="csrf_token" value="{{$csrf }}">
                            <button id="addRent" value="1" class="btn btn-outline-dark btn-block" type="submit">
                                <i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                    </div>
                  </div>
                {{end}}
                  <!-- Product-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{{end}}